* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.fila .btn {
  transition: 0.2s;
}
.fila:hover {
  background-color: #f8f8f8;
}

.bg-primary {
  background-color: #2f4858 !important;
}

.bg-secondary {
	background-color: #33658a !important;
}

.text-primary {
  background-color: #2f4858 !important;
}

.btn-link {
  color: #2f4858 !important;
  font-weight: bold !important;
}

img.logo {
  width: 5%;
}
